email=kevoghene@yahoo.com
always-auth=true
_auth=YWRtaW46anVtcGVk
## use this for authn = echo -n 'username:password' | openssl base64
allowRepublish=true
http://52.207.254.164:8081/repository/fintech-app-release/:_authToken=YWRtaW46anVtcGVk
# //registry.npmjs.org/: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
# registry=http://52.207.254.164:8081/repository/fintech-app-release/
