email=kevoghene@yahoo.com
always-auth=true
_auth=YWRtaW46anVtcGVk
## use this for authn = echo -n 'username:password' | openssl base64
allowRepublish=true
http://54.197.105.125:8081/klik/repository/akugbe_nodejs/:_authToken=YWRtaW46anVtcGVk
#//registry.npmjs.org/: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
#registry=http://54.197.105.125:8081/klik/repository/akugbe_nodejs/
